.App {
  text-align: center;
}
.strength-states {
  display: flex;
  align-items: center;
  justify-content: center;
}
.strength-box {
  display: flex;
  align-items: center;
}
.strength-color-indicators {
  border: 1px solid red;
  width: 10px;
  height: 28px;
}
.strength-color-boxes {
  display: flex;
}
